[submodule "Frontend/allygator_frontend/pages/Frontend/allygator_frontend/pages/cometchat-pro-react-ui-kit"]
	path = Frontend/allygator_frontend/pages/Frontend/allygator_frontend/pages/cometchat-pro-react-ui-kit
	url = https://github.com/cometchat-pro/cometchat-pro-react-ui-kit
